# Server
PORT=5000
NODE_ENV=production

# MongoDB
MONGO_URI=mongodb+srv://abhinayakolla1111:Thestar%4088@cluster0.qm7kahc.mongodb.net/mtech_rl_rec?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=your_super_secret_key_minimum_32_chars_here

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:80